# Django
__pycache__/
*.py[cod]
db.sqlite3
.env

# Virtual environment
env/
.venv/

# Static files
/static/
media/

# VSCode / IDE
.vscode/
.idea/

# Fichiers sensibles
.env
*.env.local
*.env.production

# Fichiers de sauvegarde
*.bak
*.backup