asgiref==3.10.0
certifi==2025.11.12
colorama==0.4.6
Django==5.2.7
django-widget-tweaks==1.5.0
gunicorn==23.0.0
pillow==11.3.0
python-dotenv==1.1.1
qrcode==8.2
sqlparse==0.5.3
tzdata==2025.2
whitenoise==6.11.0
